.triggered{
    box-shadow: #1cc88a 0px 0px 10px;
}
.imtriggered{
    box-shadow: #e74a3b 0px 0px 10px;
}

  .blocklyTreeIcon {
    font-size:1.5rem;
    text-align: center;
    width: 23px;
    height: 1.5rem;
    margin: 5px 11px 5px 7px;
  }

  #catControl.blocklyTreeRow > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon{
    background:url('../blockly/media/mark/ctrl.png') no-repeat;
    background-size: 100% auto;
  }

  #catControl.blocklyTreeRow.blocklyTreeSelected > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon{
    background:url('../blockly/media/mark/ctrl2.png') no-repeat;
    background-size: 100% auto;
  }

  #catMath.blocklyTreeRow > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon{
    background:url('../blockly/media/mark/math.png') no-repeat;
    background-size: 100% auto;
  }

  #catMath.blocklyTreeRow.blocklyTreeSelected > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon{
    background:url('../blockly/media/mark/math2.png') no-repeat;
    background-size: 100% auto;
  }

  #catLogic.blocklyTreeRow > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon{
    background:url('../blockly/media/mark/logic.png') no-repeat;
    background-size: 100% auto;
  }

  #catLogic.blocklyTreeRow.blocklyTreeSelected > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon{
    background:url('../blockly/media/mark/logic2.png') no-repeat;
    background-size: 100% auto;
  }

  #catText.blocklyTreeRow > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon{
    background:url('../blockly/media/mark/text.png') no-repeat;
    background-size: 100% auto;
  }

  #catText.blocklyTreeRow.blocklyTreeSelected > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon{
    background:url('../blockly/media/mark/text2.png') no-repeat;
    background-size: 100% auto;
  }

  #catLists.blocklyTreeRow > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon{
    background:url('../blockly/media/mark/list.png') no-repeat;
    background-size: 100% auto;
  }

  #catLists.blocklyTreeRow.blocklyTreeSelected > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon{
    background:url('../blockly/media/mark/list2.png') no-repeat;
    background-size: 100% auto;
  }

  #catDicts.blocklyTreeRow > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon{
    background:url('../blockly/media/mark/dict.png') no-repeat;
    background-size: 100% auto;
  }

  #catDicts.blocklyTreeRow.blocklyTreeSelected > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon{
    background:url('../blockly/media/mark/dict2.png') no-repeat;
    background-size: 100% auto;
  }

  #catVar.blocklyTreeRow > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon{
    background:url('../blockly/media/mark/var.png') no-repeat;
    background-size: 100% auto;
  }

  #catVar.blocklyTreeRow.blocklyTreeSelected > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon{
    background:url('../blockly/media/mark/var2.png') no-repeat;
    background-size: 100% auto;
  }

  #catFun.blocklyTreeRow > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon{
    background:url('../blockly/media/mark/func.png') no-repeat;
    background-size: 100% auto;
  }

  #catFun.blocklyTreeRow.blocklyTreeSelected > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon{
    background:url('../blockly/media/mark/func2.png') no-repeat;
    background-size: 100% auto;
  }

  .blocklyToolboxDiv {
    overflow-x: hidden;
  }
  /* Adds padding around the group of categories and separators. */
  .blocklyToolboxContents {
    padding: .5em;
    width:10rem;
  }
  /* Adds space between the categories, rounds the corners and adds space around the label. */
  .blocklyTreeRow {
    margin-bottom: 3px;
    border-radius: 4px;
    padding: 0 5px;
    cursor: pointer;
    color: #000;
  }
  .blocklyTreeRowContentContainer{
    display:flex;
    justify-content: flex-start;
    width: 100%;
  }
  /* Changes color of the icon to white. */
.customIcon {
    color: white;
    font-size:1.5rem;
    margin:5px;
    width:2rem;
    height: 1.5rem;
    text-align: center;
}
/* Stacks the icon on top of the label. */
.blocklyTreeRowContentContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.blocklyTreeRow {
    height: initial;
}
.blocklyHtmlInput{
    min-width:0!important
}
.cntb{
    color:black;
    font-size:1rem;
    margin-top:10px;
    border: 1px solid lightgray;
    width:270px;
}
textarea:focus{
    outline:none
}
.jsgrid-cell input, input[type=button]{
    min-width: 0!important;
}
input[type="search"]{
    min-width:0;
    width:100px
}
.cntb td{
    text-align:center;
    vertical-align:middle;
    padding:5px;
    border: 1px solid lightgray;
}
.nnt{
    font-family:Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}
.gridbg{
    background-image: linear-gradient(90deg, rgba(20, 20, 20, 0.06) 6%, rgba(0, 0, 0, 0) 6%),linear-gradient(0deg,rgba(20, 20, 20, 0.06) 6%, rgba(0, 0, 0, 0) 6%);
    background-size: 20px 20px;
    background-attachment: local;
}

.sidebar #sidebarToggle::after{
    font-family:'FontAwesome'
}
.sidebar.toggled #sidebarToggle::after{
    font-family:'FontAwesome'
}
.bd{
    border: solid white 2px;
    box-shadow: 1px 1px 10px #5a5c69;
}
.mingrid{
    width:360px;
    height: 524px !important;
}
.grid {
    position: relative;
    overflow: auto;
    height: calc(100vh - 4.375rem);
}
@media screen and (max-width: 800px) {
    .grid {
        position: relative;
        width:100vw;
        overflow-y: scroll;
        height: calc(100vh - 4.375rem);
    }
}

@keyframes fade-in {  
    0% {opacity: 0;}
    40% {opacity: 0;} 
    100% {opacity: 1;}
}  
@-webkit-keyframes fade-in { 
    0% {opacity: 0;}  
    40% {opacity: 0;}  
    100% {opacity: 1;}  
}  


.prj_blk{
    min-height:180px;
    user-select: none;
    background-color:white;
    box-shadow: 1px 1px 10px lightgray;
    border-radius: 0.5rem;
    position:relative;
    overflow: hidden;
    animation: fade-in; 
    animation-duration: 0.5s;
    -webkit-animation:fade-in 0.5s;
}
.card,lg_img{
    animation: fade-in; 
    animation-duration: 0.5s;
    -webkit-animation:fade-in 0.5s;
    transition: height 0.3s;
    -webkit-transition: height 0.3s;
}
.prj_blk:hover{
    box-shadow: 1px 1px 40px lightgray;
    transform: scale(1.05);
    transition: all 0.2s;
    box-shadow: #4e73df 0px 0px 60px;
}

.laydiv{
    position: relative;
    transform: scale(0.3);
    transform-origin: top left;
    z-index:1;
}
.laydiv2{
    position: absolute;
    width:100%;
    height:100%;
    background-image: linear-gradient(90deg, rgba(20, 0, 0, 0.06) 10%, rgba(0, 0, 0, 0) 10%) 
			,linear-gradient(0deg,rgba(20, 0, 0, 0.06) 10%, rgba(0, 0, 0, 0) 10%);
			background-size: 6px 6px;
    z-index:0;
    border-radius: 0.5rem;
}
.laydiv3{
    position: absolute;
    width:100%;
    height:100%;
    z-index:2;
    border-radius: 0.5rem;
}
.widget_list{
    width:800px;
    max-height:calc(100vh - 100px);
    overflow: auto;
}
@media screen and (max-width: 800px) {
    .widget_list{
        width:280px;
        max-height:550px;
        overflow: auto;
    }
    
}

.widget_div{
    margin:6px 5px;
    user-select: none;
    background-color:white;
    width:250px;height:50px;border:solid #4e73df 2px;border-radius:10px;display:flex;align-items:center;justify-content:space-between
}
.widget_div div{
    display:flex;align-items:center;justify-content:center;margin:10px
}
.widget_div span{
    font-weight: bold;
    text-align:center;
    font-size: 1.2rem;
    color:#4e73df;
    margin-left:8px
}
.widget_div img{
    width: 30px;
    height: 30px;
    margin-left:5px
}
.widget_div a{
    width:50px;margin-right: 20px;
}
.item{
    display: block;
    position: absolute;
    border-radius: 0px !important;
    z-index: 1;
    background: #fff;
    color: #fff;
    user-select:none;
}

.itemrun{
    display: block;
    position: absolute;
    border:solid lightgray 1px;
    border-radius: 10px !important;
    z-index: 1;
    background: #fff;
    color: #fff;
}

.item.muuri-item-dragging {
    z-index: 3;
}

.item.muuri-item-releasing {
    z-index: 2;
}

.item.muuri-item-hidden {
    z-index: 0;
}

.item-content {
    position: relative;
    width: 100%;
    height: 100%;
}
input{
    min-width:250px;
}
#project_detail{
    padding-left:0px;
    padding-right:0px;
}

.bbbt{
    margin-left:5px;margin-right:5px;margin-top:10px;
}
.userTitle{
    font-weight: bold;
    color:#5a5c69;
    margin:0;
    margin-bottom:10px;
    font-size: 1rem;
}
.index-topic{
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.topicDiv{
    text-align: center;
}
.moveDiv{
    cursor:move
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .ckb{
      --active: #275EFE;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: #275EFE;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      -webkit-transition: background .3s, border-color .3s, box-shadow .2s;
      transition: background .3s, border-color .3s, box-shadow .2s;
    }
    .ckb:after{
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
      transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    }
    .ckb:checked{
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    .ckb:hover:not(:checked):not(:disabled){
      --bc: var(--border-hover);
    }
    .ckb:focus{
      box-shadow: 0 0 0 var(--focus);
    }
    .ckb:not(.switch),
    input[type='radio']:not(.switch) {
      width: 21px;
    }
    .ckb:not(.switch):after,
    input[type='radio']:not(.switch):after {
      opacity: var(--o, 0);
    }
    .ckb:not(.switch):checked,
    input[type='radio']:not(.switch):checked {
      --o: 1;
    }
    .ckb + label{
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  
    .ckb:not(.switch) {
      border-radius: 7px;
    }
    .ckb:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      -webkit-transform: rotate(var(--r, 20deg));
              transform: rotate(var(--r, 20deg));
    }
    .ckb:not(.switch):checked {
      --r: 43deg;
    }
    .ckb.switch {
      width: 38px;
      border-radius: 11px;
    }
    .ckb.switch:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: var(--ab, var(--border));
      -webkit-transform: translateX(var(--x, 0));
              transform: translateX(var(--x, 0));
    }
    .ckb.switch:checked {
      --ab: var(--active-inner);
      --x: 17px;
    }
    .ckb.switch:disabled:not(:checked):after {
      opacity: .6;
    }
  }
.ui-dialog-content{
  padding:0 !important;
  overflow: visible !important;
}

.pixel{
  width: 18px;
  height: 18px;
  margin:1px;
  background-color:#eeeeee;
}

.pixelrow{
  display:flex;
  flex-direction:row;
  width: 100%;
  align-items: start;
  justify-content: space-between;
}

.pixelDiv{
  display:flex;
  flex-direction:column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  padding:10px;
  padding-top:0;
  padding-bottom: 0;
}